@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  }

  .menu {
    float: left;
    width: 20%;
  }

  .menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
  }
  .right {
    background-color: lightblue;
    float: left;
    width: 20%; /* 20 */
    padding: 10px 15px;
    margin-top: 7px;
  }

  .team-message {
    font-weight: bold;
  }

  #menu2 {
    float: center;
    width: 450px;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
  } 

  #menu2  ul{
    float: center;
    margin: 0;
    padding: 5px 0px 0px 0px;
    list-style: none;
    line-height: normal;
  }
  
  #menu2 li {
    float: center;
  }
  
  #menu2 a{
    display: block;
    margin-right: 1px;
    text-decoration: none;
    padding: 0px 0px 0px 10px;
    font-size: 11px;
    font-weight: bold;
    color: black;
  }

  img#sadFaceImg{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: auto;
}
  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  